.auth-container {
    max-width: 400px;
    text-align: center;
    margin-top: 5rem;
}

.auth-btn {
    margin-top: 1rem;
    min-width: 230px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
    margin-right: 1em;
}

.separator:not(:empty)::after {
    margin-left: 1em;
}
